
@{
  Layout = "_Layout";
}

@model Claires_Salon.Models.Stylist

<h4>Add a new styliest</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StylistName)
  @Html.TextBoxFor(model => model.StylistName)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>